.grid-container {
    display: flex;
    flex-direction: column;
    gap: 25px; /* Distance between email and password */
    margin: auto; /* center */
    margin-top: 200px;
    width: 300px;
}

.grid-item {
    display: flex;
    flex-direction: column; /* locate Email and Password above the input */
}

.line-input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-top: 10px;
}